$layout-base-space: 24px;

$layout-header-height: 60px;
$layout-footer-height: 60px;

$layout-sidebar-width: 240px;

:export {
  sidebarWidth: $layout-sidebar-width;
  headerHeight: $layout-header-height;
  footerHeight: $layout-footer-height;
  baseSpace: $layout-base-space;
}
