@import '~reset-css/sass/reset';
@import '~@douyinfe/semi-ui/dist/css/semi.min.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  height: 100vh;
  width: 100vw;
}

#__next {
  height: 100%;
}
